$menu-max-width: 300px;
$menu-min-width: 50px;

$btn-open-margin: 1rem 1rem 1rem 0;
$btn-closed-margin: 1rem -1.8rem 1rem 0;

@keyframes opening-menu {
	from {
		width: $menu-min-width;
	}
	to {
		width: $menu-max-width;
	}
}
@keyframes closing-menu {
	from {
		width: $menu-max-width;
	}
	to {
		width: $menu-min-width;
	}
}

@keyframes closing-btn {
	from {
		margin: $btn-open-margin;
	}
	to {
		margin: $btn-closed-margin;
	}
}

@keyframes opening-btn {
	from {
		margin: $btn-closed-margin;
	}
	to {
		margin: $btn-open-margin;
	}
}

.menu-container {
	max-width: $menu-max-width;
	min-width: $menu-min-width;
	height: 100%;

	.menu {
		height: 100%;

		.toggle-button {
			height: 3.5rem;
			width: 3.5rem;
			
			align-self: end;
			margin: 1rem;
		}

		.toggle-button.open {
			animation: opening-btn 1s forwards;
		}

		.toggle-button.close {
			animation: closing-btn 1s forwards;
		}

		.options-container {
			padding: 0;
			margin: 0;
			height: 100%;

			.menu-item {
				height: 200px;
			}
		}
	}
}

.menu-container.open {
	animation: opening-menu 1s forwards;
}

.menu-container.close {
	animation: closing-menu 1s forwards;
}
